body {
    color: #630e0a;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;

}

.container-fluid {
    padding: 7% 15%;
}

#topo .container-fluid {
    padding: 3% 15% 0;
    color: #630e0a;
}

/* #topo .row {
    padding-top: 5%;
} */

.chamada-topo h1 {
    /* font-family: 'Dacing Script', cursive; */
    font-size: 4.5rem;
    font-weight: bolder;
    line-height: 1.5;
    margin-top: 10%;
    margin-left: 10%;
    text-align: left;
}

.foto-topo img {
    height: 100%;
}

.foto-sobre img {
    width: 100%;
}

.s-escura {
    background-color: #e19999;
    color: #630e0a;
}

.s-clara {
    background-color: #ddd;
    color: #630e0a;
}

@media (max-width: 455px) {
    #img-logo-topo {
        width: 120px;
    }
    h1{
      text-align: center;
    }
}
