body {
    color: #630e0a;
    font-family: 'Bebas Neue', cursive;
    line-height: 1.5;
    text-align: center;

}
.texto-topo {
    /* font-family: 'Dacing Script', cursive; */
    font-size: 4.5rem;
    font-weight: bolder;
    line-height: 1.5;
    margin-left: 10%;
    margin-top: 10%;
    text-align: left;
}

.container-fluid {
    padding: 7% 15%;
}

#topo .container-fluid {
    color: #630e0a;
    padding: 3% 15% 0;

}

/* #topo .row {
    padding-top: 5%;
} */



.foto-topo img {
    height: 100%;
}

.foto-sobre img {
    width: 100%;
}

.s-escura {
    background-color: #e19999;
    color: #630e0a;
}

.s-clara {
    background-color: #ddd;
    color: #630e0a;
}
.endereco p, .following p{
  color: #e19999;
}
.gmaps{
  border-radius: 1px;
  border: 1px;
  margin: 10px auto;
  width: 90%;
}
.container-fluid.contato{
  padding: 7% 15%;
  color: #e19999;
}
.following{
}
#contato h2{
  font-size:3.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}
.social{
  padding-top: 5%;
  padding-bottom: 10%;
}
.social-link a{
  color: #e19999;
  text-decoration: none;
  margin-right: 5px;
}
.social-link{
  margin: 5px;
}

@media (max-width: 455px) {
    #img-logo-topo {
        width: 120px;
    }
    .texto-topo{
      text-align: center;
    }
}
